# Dependencies
node_modules/

# Build outputs
dist/
build/
out/

# Environment variables (Secrets)

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor settings
.vscode/
.idea/
*.suo
*.ntvs*
.next

# OS metadata
.DS_Store
Thumbs.db